#app_container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#app_container>#app_main, #app_container>#app_main>#app_content {
    height: 90%;
}

#app_container>#app_header {
    height: 5em;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#app_container>#app_footer {
    height: 5em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: right;
}